* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  background: #48AAAD;
  font-family: 'Concert One', cursive;
  
}
.container {
/* make the color gradient */
  background: rgba(255,255,255,.6);
  margin: 10px;
  padding: 10px 15px;
  border-radius: 25px;

}
.title {
  color: purple;
  text-align: center;
  font-size: 80px;
}
.action {
  text-align: center;
  padding-top: 10px;
  font-size: 25px;
}
/* center button */
 .restartButton {
  font-size: 25px;
  display: flex;
  justify-content: center;
  background: rgb(237, 137, 30);
  border-radius: 10px 10px;
  cursor: pointer;
}
.restartButton:hover {
  color: white;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  cursor: pointer;
  background: rgba(255,255,255,.6);;
}
/* change symbol to image or different symbol */
.x::before {
  content: 'x';
  font-size: 200px;
  position: absolute;

}
.o::before {
  content: 'o';
  font-size: 200px;
  position:   absolute;
}